*.out
*.slurm
**/__pycache__/
*.pyc
tb_logs/
*.ckpt
data/*
!data/README.md
train_samples/
val_samples/
samples_train/
samples_val/
evaluation/pretrained_models/
evaluation/*/
slurm/
tmp/
trajs/
pymatgen/computation/
ORR/*/
mlp_eval/*.pkl
UMA/
*.traj
RPBE/
.vscode/
mlp_eval/eqbm/
mlp_eval/vasp_eqbm/
checkpoints/*
!checkpoints/README.md
